<?xml version="1.0"?>

<launch>
  <!--ika Args -->
  <arg name="x_pos" default="4.55997"/>
  <arg name="y_pos" default="6.699400"/>
  <arg name="z_pos" default="0.0058"/>
  <arg name="yaw" default="3.14"/>
  <!--Hector Drone Args -->
  <arg name="h_x_pos" default="6.58425"/>
  <arg name="h_y_pos" default="0.22640"/>
  <arg name="h_z_pos" default="0.0"/>
  <arg name="h_prefix" default="iha"/> 
  <!--Gazebo Args -->
  <arg name="world_name" default="$(find hector_ika)/worlds/maze_1_w.world"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!--Gazebo Starter -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!--Hector Drone Spawner -->
  <group ns="$(arg h_prefix)">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_with_downward_cam.launch">
      <arg name="name" value="$(arg h_prefix)" />
      <arg name="tf_prefix" value="$(arg h_prefix)" />
      <arg name="x" value="$(arg h_x_pos)" />
      <arg name="y" value="$(arg h_y_pos)" />
      <arg name="z" value="$(arg h_z_pos)" />
    </include>
  </group>

  <!--Turtlebot3 Spawner >
  <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" /-->

  <!--ika Spawner -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ika_description)/urdf/ika.xacro'"/>

  <node name="ika_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R 0 -P 0 -Y $(arg yaw)
 -param robot_description -model ika" />

</launch>
