<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="seyyah" />

    <include file="$(find seyyah)/launch/rplidar.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    
    <include file="$(find seyyah)/launch/serial.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    
    <include file="$(find seyyah)/launch/static_transform_publisher.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
</launch>
