<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="seyyah" />

  <group ns="$(arg robot_name)">
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
      args="0.0 0.0 0.0 0.0 0.0 0.0 $(arg robot_name)/base_footprint $(arg robot_name)/base_link 200"/>
  </group>
</launch>
