<?xml version="1.0"?>
<robot name="ika" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931"/>

  <xacro:property name="cameraSize" value="0.029"/>
  <xacro:property name="cameraMass" value="0.05"/>
  <xacro:property name="chassisHeight" value="0.03"/>
  <xacro:property name="chassisLength" value="0.18"/>
  <xacro:property name="chassisWidth" value="0.154"/>
  <xacro:property name="chassisMass" value="0.5"/>

  <!--xacro:property name="casterRadius" value="0.05"/>
  <xacro:property name="casterMass" value="5"/-->

  <xacro:property name="wheelWidth" value="0.02"/>
  <xacro:property name="wheelRadius" value="0.03"/>
  <!--xacro:property name="wheelPos" value="0.2"/-->
  <!--xacro:property name="wheelMass" value="2.8498940e-02"/-->
  <xacro:include filename="$(find ika_description)/urdf/ika.gazebo" />
  <xacro:include filename="$(find ika_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find ika_description)/urdf/macros.xacro" />

  <link name="footprint" />

  <joint name="base_joint" type="fixed">
    <parent link="footprint"/>
    <child link="chassis"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <joint name="imu_joint" type="fixed">
    <parent link="chassis"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0 0.068" rpy="0 0 0"/>
  </joint>

  <link name="imu_link"/>

  <link name='chassis'>
    <collision> 
      <origin xyz="0 0 ${wheelRadius}" rpy="0 0 0"/> 
      <geometry> 
        <box size="${chassisLength} ${chassisWidth} ${chassisHeight}"/> 
      </geometry> 
    </collision>
    <visual> 
      <origin xyz="0 0 ${wheelRadius}" rpy="0 0 0"/> 
      <geometry> 
        <box size="${chassisLength} ${chassisWidth} ${chassisHeight}"/> 
      </geometry> 
      <material name="white"/>
    </visual>
    <inertial> 
      <origin xyz="0 0 ${wheelRadius}" rpy="0 0 0"/> 
      <mass value="${chassisMass}"/> 
      <box_inertia m="${chassisMass}" x="${chassisLength}" y="${chassisWidth}" z="${chassisHeight}"/>
    </inertial>
  </link>
  <link name="camera">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
      <material name="green"/>
    </visual>

    <inertial>
      <mass value="${cameraMass}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <box_inertia m="${cameraMass}" x="${cameraSize}" y="${cameraSize}" z="${cameraSize}" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz=".078 0 0.04" rpy="0 0.174532925 0"/>
    <parent link="chassis"/>
    <child link="camera"/>
  </joint>


  <joint name="scan_joint" type="fixed">
    <parent link="chassis"/>
    <child link="base_scan"/>
    <origin xyz="0.0 0 0.065" rpy="0 0 0"/>
  </joint>

  <link name="base_scan">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/sensors/lds.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0.015 0 -0.0065" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0315" radius="0.055"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.114" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0"
               izz="0.001" />
    </inertial>
  </link>

  <wheel lr="front_left" tY="1" ps="0.0595"/>
  <wheel lr="front_right" tY="-1" ps="0.0595"/>

  <wheel lr="rear_left" tY="1" ps="-0.0595"/>
  <wheel lr="rear_right" tY="-1" ps="-0.0595"/>

</robot>
