<?xml version="1.0"?>
<launch>

  <!--Arguments-->
  <arg name="scan_topic"     default="seyyah/scan"/>

  <master auto="start"/>

  <!-- Map server -->
  <arg name="map_file" default="$(find hector_ika)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--Robot Description -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ika_description)/urdf/ika.xacro'"/>
  
  <!-- Combine joint values
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  -->
  <!-- Place map frame at odometry frame >
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 100"/-->

  <!-- Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="min_particles"             value="50"/>
    <param name="max_particles"             value="100"/> <!--Number of particles--> 
    <param name="kld_err"                   value="0.01"/>
    <param name="update_min_d"              value="0.05"/>
    <param name="update_min_a"              value="0.017453293"/>
    <param name="resample_interval"         value="4"/>     
    <param name="transform_tolerance"       value="0.1"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="initial_pose_x"            value="0"/>
    <param name="initial_pose_y"            value="0"/>
    <param name="initial_pose_a"            value="0"/>
    <param name="gui_publish_rate"          value="50.0"/>

    <remap from="scan"                      to="$(arg scan_topic)"/>
    <param name="laser_max_range"           value="-1.0"/>
    <param name="laser_max_beams"           value="60"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="0.5"/>
    <param name="laser_model_type"          value="likelihood_field"/>
    <param name="odom_frame_id"             value="odom"/>
    <param name="odom_model_type"           value="diff"/>
    <param name="odom_alpha1"               value="0.05"/>
    <param name="odom_alpha2"               value="0.05"/>
    <param name="odom_alpha3"               value="0.05"/>
    <param name="odom_alpha4"               value="0.05"/>
    <param name="base_frame_id"             value="base_footprint"/>

    <!--param name="first_map_only"            value="true"/-->
  </node>

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ika_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ika_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ika_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ika_navigation)/config/global_costmap_params.yaml" command="load" />
    <!--rosparam file="$(find ika_navigation)/config/base_local_planner_params.yaml" command="load" /-->
    <rosparam file="$(find ika_navigation)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find ika_navigation)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find ika_navigation)/config/global_planner_params.yaml" command="load" />
    
    <remap from="seyyah/cmd_vel" to="cmd_vel"/>
    <remap from="seyyah/odom" to="odom"/>

    <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/>



  </node>


</launch>


