<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ika_gazebo)/worlds/ika.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


  <!-- Load joint controller configurations from YAML file to parameter server >
  <rosparam file="$(find ika_control)/config/my_diff_drive.yaml" command="load"/>

  < load the controllers >
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen"
    args="mobile_base_controller"
  /-->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ika_description)/urdf/ika.xacro'"/>

  <node name="ika_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -x 0.0 -y 0.0 -z 0.1 -param robot_description -model ika" />

</launch>
